# Folder cache Python
__pycache__/
*.pyc

# Folder lingkungan virtual
venv/
.venv/
env/

# File spesifik sistem operasi
.DS_Store
Thumbs.db

# Folder spesifik editor/IDE
.vscode/
.idea/

# Checkpoint Jupyter Notebook
.ipynb_checkpoints/